<%- include("header") -%>

<section >
<form class="" action="/certifications" method="post">
  <input type="text" name="srchInput" size="60" value="" placeholder="search">
<button type="submit" name="" class="btn btn-sm"><i class="fas fa-search"></i></button>
</form>

</section>

      <section id="certi">

        <div class="row opt-total">

<% certNames.forEach(function(Certification){ %>
          <div class="col-lg-3 opt-box" >
<ul>
            <div class="opt-head">
              <h3>  <%= Certification.certNam %>   </h3>
            </div>

</ul>
          </div>

          <div class="col-lg-6 opt-why" >
            <p><h3><%= Certification.certDes %> </h3></p>
          </div>

          <div class="col-lg-2">
            <form action="/certhome" method="post">
          <input type="hidden" name="fCerti" value="<%= Certification.certNam %>">

              <button type="submit" class="btn optbut-task" name="button">Add</button>
            </form>
          </div>

          <% }) %>
        </div>


      </section>


<%- include("footer") -%>
