<%- include("header") -%>

<section >
<form class="" action="/competitions" method="post">
  <input type="text" name="srchInput" size="70" class="searchInp" value="" placeholder="search">
<button type="submit" name="" class="btn btn-sm searchBtn"><i class="fas fa-search"></i></button>
</form>

</section>



  <section id="compet">

    <div class="row opt-total">


      <% certNames.forEach(function(Certification){ %>
                <div class="col-lg-3 opt-box" >
      <ul>
                  <div class="opt-head">
                    <h3>  <%= Certification.name %>   </h3>
                  </div>

      </ul>
                </div>

                <div class="col-lg-6 opt-why" >
                  <p><%= Certification.cover %></p>
                </div>
                <div class="col-lg-2">
                  <form action="/comphome" method="post">
                <input type="hidden" name="fComp" value="<%= Certification.name %>">
              <button type="submit" class="btn optbut-task" name="button">Add</button>
                  </form>
                </div>

                <% }) %>
              </div>


            </section>








<%- include("footer") -%>
