<%- include("header") -%>
<section>

<form class="" action="/courses" method="post">
  <div class="container">
    <div class="wrapper">
<input type="text" name="srchInput" id="searchCourse" size="70" value="" class="searchInp" placeholder="search" autocomplete="chrome-off">

<button type="submit" name="" style="" class="btn btn-sm searchBtn"><i class="fas fa-search"></i></button>
<div class="results">
  <ul>
  </ul>
<script src="script.js"></script>
</div>
</div>
</div>


  </form>


</section>



<section id="certi">

<div class="row opt-total">

    <% certNames.forEach(function(Certification){ %>

    <div class="col-lg-3 opt-box" >
<ul id="myUL">
        <!-- <div class="opt-head"> -->
          <h5> <%= Certification.degNam %> </h5>

        <!-- </div> -->
</ul>

    </div>

    <div class="col-lg-6 opt-why" >
    <h5>  <%= Certification.degMjr %> </h5>
    </div>

    <div class="col-lg-2">
      <form class="" action="/courhome" method="post">
<input type="hidden" name="ftDeg" value="<%= Certification.degNam %> ">
<input type="hidden" name="ftMajor" value="<%= Certification.degMjr %> ">
        <button type="submit" class="btn optbut-task" name="button">Add</button>
      </form>
    </div>

    <% }) %>
  </div>


</section>



<%- include("footer") -%>
