<%- include("header") -%>
<section>
  <form class="" action="/future" method="post">
    <input type="text" name="srchInput" size="60" value="" placeholder="search">
    <button type="submit" name="" class="btn btn-sm"><i class="fas fa-search"></i></button>
  </form>

</section>

<div class="opt-img">
</div>
<section id="future-profiles">


  <div class="row opt-total">

    <% certNames.forEach(function(Certification){ %>
    <div class="col-lg-3 opt-box">
      <ul>
        <div class="opt-head">
          <h3> <%= Certification.name %> </h3>
        </div>

      </ul>
    </div>

    <div class="col-lg-6 opt-why">
      <p><%= Certification.req1 %></p>
      <p><%= Certification.req2 %></p>
      <p><%= Certification.req3 %></p>
    </div>
    <!-- <div class="opt-button">
            <button type="button" class="btn btn-lg btn-block strbut"><a href="#"></a>Register and add to profile</button>
          </div> -->
    <div class="col-lg-2">
      <form action="/home" method="post">
<input type="hidden" name="fprofile" value="<%= Certification.name %>">
<input type="hidden" name="freq1" value="<%= Certification.req1 %>">
<input type="hidden" name="freq2" value="<%= Certification.req2 %>">
<input type="hidden" name="freq3" value="<%= Certification.req3 %>">
        <button type="submit" class="btn optbut-task" name="button">Add</button>
      </form>
    </div>



    <% }) %>
  </div>


</section>








<%- include("footer") -%>
